build/*
cmake-*
.zed/*
.idea/*
.vscode/*
.cache/*
.ycm_extra_conf.py
.clangd*
compile_commands.json
.ccls*
.ccls-cache/*
.vs/*
out/*
CMakeSettings.json
build-*
*~
.DS_Store
clion_compile.sh
.python-version
**/__pycache__
*.gni